name: Test

on:
  push:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yaml
  pull_request:
    branches: [main]
    paths:
      - src/**
      - tests/**
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yaml
  workflow_dispatch: {}
  schedule:
    # Run every 27 hours to avoid running at the same time every day
    - cron: "40 12 * * 1-5"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.8.15
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.30.2
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.28.0

jobs:
  typing:
    name: Typing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        id: setup-python
      - uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          version: ${{ env.UV_VERSION }}
      - env:
          UV_PYTHON: ${{ steps.setup-python.outputs.python-version }}
        run: >
          uvx
          --with tox-uv==${{ env.TOX_UV_VERSION }}
          --with tox==${{ env.TOX_VERSION }}
          tox -e typing

  test:
    name: Pytest (Python ${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.python-version == '3.13' }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        include:
          - python-version: "3.13"
            os: "windows-latest"

          - python-version: "3.13"
            os: "macos-latest"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          version: ${{ env.UV_VERSION }}
      - run: >
          uvx
          --with tox-uv==${{ env.TOX_UV_VERSION }}
          --with tox==${{ env.TOX_VERSION }}
          tox -e ${{ matrix.python-version }}
        env:
          UV_PRERELEASE: "allow"
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          include-hidden-files: true
          name: coverage-data-${{ matrix.os }}-py${{ matrix.python-version }}
          path: ".coverage.*"

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          pattern: coverage-data-*
          merge-multiple: true
      - uses: astral-sh/setup-uv@557e51de59eb14aaaba2ed9621916900a91d50c6 # v6.6.1
        with:
          version: ${{ env.UV_VERSION }}
      - name: Combine coverage data and generate report
        run: >
          uvx
          --with tox-uv==${{ env.TOX_UV_VERSION }}
          --with tox==${{ env.TOX_VERSION }}
          tox -e coverage
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
